--- 
---

@import "{{ site.theme }}";

div.wrapper {
    margin: 0 auto;
    width: fit-content;
}

body {
    background-color: black;
    color: white
}

a {
    color: #499eff
}

h1, p {
    color: white
}