--- 
---

@import "{{ site.theme }}";

@font-face {
    font-family: DepartureMono-Regular;
    src: url(https://departuremono.com/assets/DepartureMono-Regular.otf);
}

div.wrapper {
    margin: 0 auto;
    width: fit-content;
}

body {
    background-color: #272736;
    color: #ffffeb;
    font-family: Departure Mono,monospace;
}

code {
    font-family: Departure Mono,monospace;
}

a {
    color: #ff6b97
}

a:hover {
    color: #ffb5b5
}

h1, h2, h3, h4, p, strong {
    color: #ffffeb
}

pre.highlight {
    background-color: #3e2347;
    border-color: #ffffeb;
    border-size: 4px;
    span.nt {
        color: #bd4882;
    };
}

code {
    color: #ffffeb;
}
