<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<link rel="icon" href="{{ "/favicon.ico" | relative_url}}" type="image/x-icon">	
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <section>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>[<a href="https://github.com/CrazyKitty357/blog">blogrepo</a>] [<a href="/blog/feed.xml">rss</a>] [<a href="https://twitch.tv/cr4zyk1tty">twitch</a>] [<a href="https://bsky.app/profile/crazykitty357.github.io">bsky</a>]</p>
      {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
